<p class="md-padding">This is login component</p>
<hr />

<div class="md-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <md-input-container>
          <input mdInput type="text" name="username" placeholder="Enter username"
                 [formControl]="loginForm.controls['username']" autocomplete="off" />
      </md-input-container>
      <br><br>

      <md-input-container>
          <input mdInput type="password" name="password" placeholder="Enter password"
                 [formControl]="loginForm.controls['password']" autocomplete="off" />
      </md-input-container>

      <br><br>
      <button md-raised-button type="submit" [disabled]="!loginForm.valid" class="mat-primary">Login</button>
  </form>
</div>
